<!DOCTYPE html>
<html>

<head>    
    <script src="./HelloExpress.js"></script>
</head>

<body>
    {{!-- <h1>Hi Diaz</h1>
    <h1>{{title}}</h1> 
    <p>Created by {{name}}</p> --}}

    {{>header}}

    <form>
 <input placeholder="Location">
 <button>Search</button>
</form>
</body>

</html>